body {
  font-family: 'Gideon Roman', serif;
  background-color: #f5dca2;
  border: 5px solid #4C241D;
  margin: 30px;
  padding: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #4C241D;
}

.input-div {
  text-align: center;
  height: 150px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 5px solid #4C241D;
  background-color: #E5EFEF;
  font-weight: bold;
  color: #4C241D;
  padding-top: 25px;
}

input {
  font-size: 20px;
  width: 130px;
  border: 3px solid white;
  border-radius: 3px;
}

button {
  font-size: 20px;
  border: 3px solid #FECE56;
  background-color: #FECE56;
  border-radius: 3px;
  cursor: pointer;
}

#output {
  text-align: center;
  background-color: #4C241D;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  width: 465px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 30px;
}

footer {
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}